Repository yceffort/ndive-react-image: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, markdownlint

lefthook.yml:

# lefthook.yml
pre-commit:
    parallel: true
    commands:
        lint:
            glob: '*.{js,ts,jsx,tsx}'
            run: pnpm run eslint:staged {staged_files}
        prettier:
            glob: '*.{ts,tsx,js,mjs,cjs,jsx,json,yaml,yml}'
            run: pnpm run prettier:staged {staged_files}
        markdownlint:
            glob: '*.{md}'
            run: pnpm run md:staged {staged_files}

⚡️tsup 으로 타입 빌드
  tsup.config.mts
Due: none

🔨 export map 정리
  package.json
Due: prettier

Create slimy-wasps-call.md
  .changeset/slimy-wasps-call.md
Due: none

설정을 베스트 프랙티스로 미친듯이 깎기
  tsup.config.mts
Due: none

⬆️ 최신버전으로 업데이트
  package.json
  pnpm-lock.yaml
Due: prettier

:fire: minify
  tsup.config.mts
Due: none

:fire: sourcemap
  tsconfig.json
  vite.config.mts
Due: prettier

Create strange-bikes-mate.md
  .changeset/strange-bikes-mate.md
Due: none

:memo: 책이랑 순서 맞춤
  vite.config.mts
Due: none

:fire: 불필요한 커스텀 타입 제거
  types/rollup-preserve-directives.d.ts
Due: lint, prettier

:fire: 라이선스 중복 제거
  LICENSE
  LICENSE copy
Due: none

CI로 파일명 변경
  .github/workflows/CI.yml
Due: prettier

잘못된 캐시 전략 수정
  .github/workflows/CI.yml
Due: prettier

캐시가 유의미한 속도 차이가 있는가
  .github/workflows/CI.yml
Due: prettier

주석 해제
  .github/workflows/CI.yml
Due: prettier

actions/setup-node 가 제공하는 pnpm 캐시로 변경
  .github/workflows/CI.yml
Due: prettier

pnpm/action-setup@v4 사용
  .github/workflows/CI.yml
Due: prettier

corepack 설치 되신 설치 과정 추가
  .github/workflows/CI.yml
Due: prettier

:hammer: changeset CD 수정
  .github/workflows/changeset.yml
Due: prettier

:fire: 불필요한 스크립트 제거
  package.json
Due: prettier

Create tiny-emus-camp.md
  .changeset/tiny-emus-camp.md
Due: none

📦 패키지 종속성 정리
  package.json
  pnpm-lock.yaml
Due: prettier

Create large-beers-beam.md
  .changeset/large-beers-beam.md
Due: none

🚚 publish.yml 로 파일명 변경
  .github/workflows/publish.yml
Due: prettier

:fire: 뭐야 이건
  README copy.md
Due: none

마이너 수정
  .github/workflows/publish.yml
  vite.config.mts
Due: prettier

🚚 it 대신 test 사용
  src/utils/index.test.ts
Due: lint, prettier

⬆️ 주요 패키지 버전업
  package.json
  pnpm-lock.yaml
  vite.config.mts
Due: prettier

🧪 예제 추가
  src/utils/index.ts
Due: lint, prettier

Create stupid-impalas-itch.md
  .changeset/stupid-impalas-itch.md
Due: none

Create stupid-points-warn.md
  .changeset/stupid-points-warn.md
Due: none

Create brown-balloons-relax.md
  .changeset/brown-balloons-relax.md
Due: none

:fire: 어거지로 폴리필 넣는거 제거
  vite.config.mts
Due: none

Create nervous-files-watch.md
  .changeset/nervous-files-watch.md
Due: none

폴리필 예제 진짜 최종 완성
  package.json
  pnpm-lock.yaml
  src/utils/index.ts
  vite.config.mts
Due: lint, prettier

버전 일치를 위해 package.json 직접 참조
  vite.config.mts
Due: none

:bug: 능지이슈 수정
  vite.config.mts
Due: none

오타 수정
  .npmrc
Due: none

⬆️ vite@6
  package.json
  pnpm-lock.yaml
Due: prettier

⬆️ vitest
  package.json
  pnpm-lock.yaml
Due: prettier
