Repository yceffort/ndive-react-image: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, prettier, markdownlint

lefthook.yml:

# lefthook.yml
pre-commit:
    parallel: true
    commands:
        lint-staged:
            glob: '*.{js,ts,jsx,tsx}'
            run: pnpm lint {staged_files}
        prettier:
            glob: '*.{ts,tsx,js,mjs,cjs,jsx,json}'
            run: pnpm prettier {staged_files}
        markdownlint:
            glob: '*.{md}'
            run: pnpm md {staged_files}

yaml 파일도 prettier로 관리
  lefthook.yml
  package.json
Due: prettier

:memo: pnpx로 변경
  lefthook.yml
Due: none

:memo: markdownlint
  lefthook.yml
Due: none

:memo: lint
  lefthook.yml
Due: none

:memo: lefthook 설정
  lefthook.yml
  package.json
Due: prettier

:memo: add ignore pnpm-lock
  .prettierignore
Due: none

🧹 prettier
  .github/workflows/build.yml
  .github/workflows/changeset.yml
Due: none

:memo: 잘못된 명령어 수정
  lefthook.yml
Due: none

🚚 타입을 별도 폴더로 이동
  src/next.tsx
  src/react.tsx
  src/types/index.ts
  src/utils/index.ts
Due: lint-staged, prettier

📝 type prefix 추가
  src/types/index.ts
Due: lint-staged, prettier

Create angry-goats-film.md
  .changeset/angry-goats-film.md
Due: none

🚀 update versions
  .changeset/angry-goats-film.md
  CHANGELOG.md
  package.json
Due: prettier

:package: prettier 버전 일치
  package.json
  pnpm-lock.yaml
Due: prettier

lefthook 수정
  CHANGELOG.md
  lefthook.yml
Due: none

narrowing type
  src/utils/index.ts
Due: lint-staged, prettier

use rest props
  src/next.tsx
  src/react.tsx
  src/types/index.ts
Due: lint-staged, prettier

Create ninety-bottles-tie.md
  .changeset/ninety-bottles-tie.md
Due: none

:fire: 불필요한 script 제거
  package.json
Due: prettier

markdownlint 설정 변경
  .markdownlint-cli2.jsonc
  .markdownlint.json
  .markdownlint.jsonc
Due: prettier

버저닝 이후에 prettier 실행
  .github/workflows/changeset.yml
Due: none

2트
  .github/workflows/changeset.yml
  package.json
Due: prettier

md:fix 임
  package.json
Due: prettier

:fire: 불필요한 의존성 제거
  package.json
  pnpm-lock.yaml
Due: prettier

:fire: jest
  package.json
  pnpm-lock.yaml
Due: prettier

:fire: 주석
  src/utils/index.test.ts
Due: lint-staged, prettier

:memo: add .DS_Store in .gitignore
  .gitignore
Due: none

💣 vite 설정 하나로 통일
  vite-swc.config.mts
  vite.config.mts
Due: none

서순 정리
  package.json
Due: prettier

:package: 패키지 정리
  package.json
  pnpm-lock.yaml
Due: prettier
